@charset "UTF-8";
/*
 * Главный файл стилей.
 * Все паршалы подключаются сюда.
 */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Titan One', cursive;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  border: none;
  cursor: pointer;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1280px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1280px;
  }
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
}

.menu-open {
  overflow-y: hidden;
  width: 100%;
  height: 100%;
}

@media (max-width: 1279px) {
  html,
  body {
    overflow-x: hidden;
  }
}

.header {
  position: absolute;
  width: 100%;
  z-index: 4;
}

.logo {
  margin-top: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (min-width: 1280px) {
  .logo {
    padding-right: 50px;
    margin-right: 110px;
  }
}

.logo__text {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 0.965;
  text-transform: uppercase;
  color: #d41443;
  margin-left: 17px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 767px) {
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (min-width: 768px) {
  .header__container {
    margin-top: 38px;
  }
}

@media (min-width: 1280px) {
  .header__container {
    margin-left: 22px;
    margin-right: 89px;
  }
}

.menu__button {
  width: 30px;
  height: 25px;
  background-color: transparent;
  cursor: pointer;
}

@media (min-width: 768px) {
  .menu__button {
    margin-left: auto;
  }
}

@media (min-width: 1280px) {
  .menu__button {
    display: none;
  }
}

.menu__icon {
  fill: #d41443;
}

@-webkit-keyframes translateOn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes translateOn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@media (max-width: 1279px) {
  .mobile__menu {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100vw;
    height: 100vh;
    padding-top: 23px;
    -webkit-animation: translateOn 500ms;
            animation: translateOn 500ms;
    background-color: #e17992;
  }
  .mobile__menu.is-hidden {
    display: none;
  }
}

@media (max-width: 1279px) and (max-width: 767px) and (orientation: landscape) {
  .mobile__menu {
    height: 502px;
  }
}

@media (max-width: 1279px) and (min-width: 768px) {
  .mobile__menu {
    left: 60%;
    width: 40vw;
  }
}

@media (min-width: 1280px) {
  .mobile__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
}

.menu__close {
  display: block;
  margin-left: auto;
  margin-right: 20px;
}

@media (min-width: 1280px) {
  .menu__close {
    display: none;
  }
}

.menu__icon--close {
  fill: #ffffff;
}

.button__buy {
  display: block;
  padding-top: 14px;
  padding-bottom: 14px;
  border-radius: 22px;
  background-color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.31;
  text-align: center;
  color: #d41443;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button__buy::after {
  content: '>';
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.button__buy:hover, .button__buy:focus {
  background-color: #ecebeb;
}

.button__buy--tablet {
  display: none;
}

@media (min-width: 768px) {
  .button__buy--tablet {
    display: block;
    width: 160px;
    margin-left: 30px;
    margin-right: 0;
  }
}

@media (min-width: 1280px) {
  .button__buy--tablet {
    display: none;
  }
}

@media (max-width: 1279px) {
  .button__buy--menu {
    width: 80%;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1280px) {
  .button__buy--menu {
    width: 160px;
  }
}

@media (max-width: 1279px) {
  .nav__list {
    margin-top: 20px;
  }
}

@media (min-width: 1280px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media (max-width: 1279px) {
  .nav__items {
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 20px;
    border-top: 1px solid #e18298;
    border-bottom: 1px solid #e18298;
  }
}

@media (min-width: 1280px) {
  .nav__items:not(:first-child) {
    margin-left: 35px;
  }
}

.nav__link {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.28;
  color: #ffffff;
}

.nav__link:hover, .nav__link:focus {
  color: #d41443;
}

@media (min-width: 1280px) {
  .nav__link {
    font-size: 16px;
    line-height: 1.312;
  }
}

.hero {
  background-color: #ffb8ca;
}

.hero.menu-is-open {
  pointer-events: none;
}

.container__hero {
  padding: 193px 82px 160px 20px;
  position: relative;
  overflow: hidden;
}

@media (min-width: 768px) {
  .container__hero {
    padding: 102px 34px 27px 34px;
  }
}

@media (min-width: 1280px) {
  .container__hero {
    padding: 155px 97px 56px 115px;
  }
}

.hero__title {
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 768px) {
  .hero__title {
    font-size: 22px;
  }
}

@media (min-width: 1280px) {
  .hero__title {
    font-size: 38px;
  }
}

.hero__title--big {
  font-size: 48px;
  line-height: 0.965;
  text-transform: uppercase;
  color: #d41443;
}

@media (min-width: 768px) {
  .hero__title--big {
    font-size: 34px;
    line-height: 0.905;
  }
}

@media (min-width: 1280px) {
  .hero__title--big {
    font-size: 58px;
  }
}

.hero__link {
  display: inline-block;
  margin-top: 19px;
  padding: 8px 15px;
  font-family: "DM Sans", sans-serif;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-radius: 20px;
}

@media (min-width: 768px) {
  .hero__link {
    margin-top: 8px;
  }
}

@media (min-width: 1280px) {
  .hero__link {
    font-size: 14px;
    padding: 11px 20px;
    margin-top: 25px;
  }
}

.hero__link--products {
  color: #ffffff;
  background-color: #d41443;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__link--products:hover, .hero__link--products:focus {
  background-color: #c7133e;
}

.hero__link--howMade {
  margin-left: 8px;
  cursor: pointer;
  color: #d41443;
  background-color: #ffffff;
  -webkit-transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__link--howMade:hover, .hero__link--howMade:focus {
  background-color: #ecebeb;
}

.hero__main {
  position: relative;
  z-index: 3;
}

@media (min-width: 768px) {
  .hero__main div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.hero__circle {
  width: 346px;
  height: 344px;
  border-radius: 50%;
  background-color: #ffa5ba;
  position: absolute;
  top: 83px;
  left: 11%;
  z-index: 1;
}

@media (min-width: 768px) {
  .hero__circle {
    width: 324px;
    height: 322px;
    top: 31px;
    left: 307px;
  }
}

@media (min-width: 1280px) {
  .hero__circle {
    width: 538px;
    height: 538px;
    top: 52px;
    left: 475px;
  }
}

.hero__picture--icecream {
  display: block;
  position: absolute;
  bottom: 0;
  left: 30%;
  z-index: 2;
}

@media (min-width: 768px) {
  .hero__picture--icecream {
    left: 378px;
  }
}

@media (min-width: 1280px) {
  .hero__picture--icecream {
    left: 594px;
  }
}

.hero__list {
  display: none;
}

@media (min-width: 768px) {
  .hero__list {
    display: block;
  }
}

.hero__items {
  position: relative;
  z-index: 2;
  text-align: right;
}

.hero__items:not(:first-child) {
  margin-top: 13px;
}

.hero__items::before {
  content: ' ';
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  position: absolute;
  top: 0%;
  left: 100%;
  -webkit-transform: translate(-50%, -10%);
          transform: translate(-50%, -10%);
  z-index: 1;
}

@media (min-width: 1280px) {
  .hero__items::before {
    width: 30px;
    height: 30px;
  }
}

.hero__items .items__rate {
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #d41443;
  position: relative;
  z-index: 2;
}

@media (min-width: 1280px) {
  .hero__items .items__rate {
    font-size: 46px;
  }
}

.items__rank {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 8px;
  line-height: 1.25;
  color: #ffffff;
}

@media (min-width: 1280px) {
  .items__rank {
    font-size: 14px;
  }
}

.hero__picture--milk {
  display: none;
}

@media (min-width: 768px) {
  .hero__picture--milk {
    display: block;
    position: absolute;
    top: 245px;
    left: 34px;
  }
}

@media (min-width: 1280px) {
  .hero__picture--milk {
    top: 429px;
    left: 77px;
  }
}

.hero__picture--girl {
  display: none;
}

@media (min-width: 768px) {
  .hero__picture--girl {
    display: block;
    position: absolute;
    bottom: 0;
    left: 566px;
    z-index: 2;
  }
}

@media (min-width: 1280px) {
  .hero__picture--girl {
    left: 878px;
  }
}

.hero__text {
  display: none;
}

@media (min-width: 768px) {
  .hero__text {
    display: block;
    margin-top: 66px;
    margin-left: 120px;
    width: 114px;
    height: 48px;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 8px;
    line-height: 1.5;
    color: #ffffff;
  }
}

@media (min-width: 1280px) {
  .hero__text {
    width: 200px;
    height: 78px;
    font-size: 14px;
    margin-top: 112px;
    margin-left: 180px;
  }
}

.hero__link--arow {
  display: none;
}

@media (min-width: 768px) {
  .hero__link--arow {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 18px;
    height: 18px;
    margin-top: 7px;
    margin-left: 120px;
    border-radius: 50%;
    background-color: #ffffff;
    color: #d41443;
    cursor: pointer;
  }
  .hero__link--arow:hover, .hero__link--arow:focus {
    background-color: #d41443;
    color: #ffffff;
  }
}

@media (min-width: 1280px) {
  .hero__link--arow {
    width: 26px;
    height: 26px;
    margin-top: 20px;
    margin-left: 180px;
  }
}

.hero__icon {
  margin: auto;
  fill: currentColor;
}

.products-section {
  margin-top: 0;
  background-color: #ffffff;
}

@media screen and (max-width: 767px) {
  .products-section {
    padding-top: 121px;
    padding-bottom: 98px;
  }
}

@media screen and (min-width: 768px) {
  .products-section {
    padding-top: 122px;
    padding-bottom: 112px;
  }
}

@media screen and (min-width: 1280px) {
  .products-section {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products-section__title {
  margin-top: 0;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 400;
  color: #d41443;
}

@media screen and (max-width: 767px) {
  .products-section__title {
    margin-bottom: 143px;
    font-size: 34px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 768px) {
  .products-section__title {
    margin-bottom: 39px;
    font-size: 48px;
    line-height: 1.14;
  }
}

@media screen and (min-width: 1280px) {
  .products-section__title {
    margin-bottom: 49px;
    font-size: 58px;
    line-height: 1.37;
    letter-spacing: 0.06em;
  }
}

.products-section__text {
  margin-top: 0;
  margin-bottom: 15px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: #ffa5ba;
  font-family: "Titan One", cursive;
}

@media screen and (max-width: 767px) {
  .products-section__text {
    font-size: 18px;
    line-height: 1.17;
  }
}

@media screen and (min-width: 768px) {
  .products-section__text {
    font-size: 26px;
    line-height: 1.15;
  }
}

@media screen and (min-width: 1280px) {
  .products-section__text {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}

@media screen and (max-width: 767px) {
  .products-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .products-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -10px;
    margin-top: 148px;
  }
}

@media screen and (min-width: 1280px) {
  .products-section__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: -11px;
    margin-top: 261px;
  }
}

.products-section__item {
  position: relative;
  border-radius: 24px;
}

.products-section__item.cream {
  background-color: #ffb8ca;
}

.products-section__item.coffee {
  background-color: #f0d1a5;
}

.products-section__item.milk {
  background-color: #c2e297;
}

@media screen and (max-width: 767px) {
  .products-section__item {
    max-width: 280px;
    min-height: 485px;
  }
  .products-section__item:not(:first-child) {
    margin-top: 130px;
  }
}

@media screen and (min-width: 768px) {
  .products-section__item {
    max-width: 220px;
    max-height: 485px;
    margin: 10px;
    -ms-flex-preferred-size: calc(100% / 3 - 20px);
        flex-basis: calc(100% / 3 - 20px);
  }
}

@media screen and (min-width: 1280px) {
  .products-section__item {
    max-width: 329px;
    max-height: 525px;
    margin: 11px;
    -ms-flex-preferred-size: calc(100% / 3 - 22px);
        flex-basis: calc(100% / 3 - 22px);
  }
}

@media screen and (max-width: 767px) {
  .cream::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(6%, -45%);
            transform: translate(6%, -45%);
    background-image: url("../images/products/icecream-mobile1@1x.png");
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .cream::before {
    background-image: url("../images/products/icecream-mobile1@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .cream::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(1%, -47%);
            transform: translate(1%, -47%);
    background-image: url("../images/products/icecream-tablet1@1x.png");
    width: 220px;
    height: 226px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .cream::before {
    background-image: url("../images/products/icecream-tablet1@2x.png");
  }
}

@media screen and (min-width: 1280px) {
  .cream::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, -65%);
            transform: translate(0, -65%);
    background-image: url("../images/products/icecream-desktop1@1x.png");
    width: 335px;
    height: 335px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .cream::before {
    background-image: url("../images/products/icecream-desktop1@2x.png");
  }
}

@media screen and (max-width: 767px) {
  .coffee::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(6%, -45%);
            transform: translate(6%, -45%);
    background-image: url("../images/products/icecream-mobile2@1x.png");
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .coffee::before {
    background-image: url("../images/products/icecream-mobile2@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .coffee::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(1%, -47%);
            transform: translate(1%, -47%);
    background-image: url("../images/products/icecream-tablet2@1x.png");
    width: 220px;
    height: 233px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .coffee::before {
    background-image: url("../images/products/icecream-tablet2@2x.png");
  }
}

@media screen and (min-width: 1280px) {
  .coffee::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, -65%);
            transform: translate(0, -65%);
    background-image: url("../images/products/icecream-desktop2@1x.png");
    width: 335px;
    height: 337px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .coffee::before {
    background-image: url("../images/products/icecream-desktop2@2x.png");
  }
}

@media screen and (max-width: 767px) {
  .milk::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(6%, -45%);
            transform: translate(6%, -45%);
    background-image: url("../images/products/icecream-mobile3@1x.png");
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 767px) and (min-resolution: 192dpi), screen and (max-width: 767px) and (min-resolution: 2dppx) {
  .milk::before {
    background-image: url("../images/products/icecream-mobile3@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .milk::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(1%, -47%);
            transform: translate(1%, -47%);
    background-image: url("../images/products/icecream-tablet3@1x.png");
    width: 220px;
    height: 224px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .milk::before {
    background-image: url("../images/products/icecream-tablet3@2x.png");
  }
}

@media screen and (min-width: 1280px) {
  .milk::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transform: translate(0, -65%);
            transform: translate(0, -65%);
    background-image: url("../images/products/icecream-desktop3@1x.png");
    width: 335px;
    height: 335px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .milk::before {
    background-image: url("../images/products/icecream-desktop3@2x.png");
  }
}

.products-item__name {
  position: relative;
  margin-top: 155px;
  margin-bottom: 66px;
  font-family: "Titan One", cursive;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .products-item__name {
    margin-top: 145px;
  }
}

@media screen and (min-width: 1280px) {
  .products-item__name {
    margin-top: 165px;
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.products-item__name::after {
  content: '...';
  display: block;
  position: absolute;
  width: 26px;
  height: 6px;
  top: 170%;
  left: 45%;
}

@media screen and (min-width: 1280px) {
  .products-item__name::after {
    top: 140%;
    left: 45%;
  }
}

.product-item__description {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: #ffffff;
}

@media screen and (min-width: 768px) {
  .product-item__description {
    line-height: 1.78;
    padding-left: 11px;
    padding-right: 11px;
  }
}

@media screen and (min-width: 1280px) {
  .product-item__description {
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 1.75;
  }
}

@media screen and (min-width: 768px) {
  .description__hidden {
    display: none;
  }
}

.products__link {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  background-color: #ffffff;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .products__link {
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 1280px) {
  .products__link {
    margin-bottom: 50px;
  }
}

.products__link:hover, .products__link:focus {
  background-color: #d41443;
  color: #ffffff;
}

.products__icon {
  padding: 15px;
  border-radius: 50%;
  fill: currentColor;
  -webkit-transform: rotateZ 0;
          transform: rotateZ 0;
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__icon:hover {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.products__icon:focus {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.drop-box__position {
  z-index: 1;
  position: relative;
}

.drop-box {
  z-index: 2;
  width: 185px;
  height: 145px;
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-transform: translate(-40%, -120%);
          transform: translate(-40%, -120%);
  pointer-events: none;
}

@media screen and (max-width: 767px) {
  .drop-box {
    width: 220px;
  }
}

@media screen and (min-width: 1280px) {
  .drop-box {
    width: 260px;
  }
}

.drop-box.ice__box::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 75%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f0d1a5;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border-radius: 24px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drop-box.coffee__box::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 75%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c2e297;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border-radius: 24px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drop-box.milk__box::after {
  content: '';
  position: absolute;
  z-index: 2;
  top: 75%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffb8ca;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  border-radius: 24px;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.drop-box__description {
  z-index: 3;
  display: block;
  position: absolute;
  pointer-events: none;
  padding: 15px;
  width: 100%;
  height: 100%;
  top: 75%;
  left: 0;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  opacity: 0;
  -webkit-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), -webkit-transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products__link:hover .drop-box::after {
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  opacity: 1;
}

.products__link:hover .drop-box__description {
  opacity: 1;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}

.about {
  background-color: #fff5f6;
  padding-top: 125px;
}

@media screen and (min-width: 768px) {
  .about {
    padding-top: 130px;
  }
}

@media screen and (max-width: 479px) {
  .about__container {
    width: 100%;
  }
}

@media screen and (min-width: 1280px) {
  .about__container {
    width: 1080px;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .about__background {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0 bottom 60px;
    background-image: url(../images/about/milk-phone.png);
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and (min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 767px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 192dpi), screen and (min-width: 320px) and (max-width: 767px) and (min-resolution: 2dppx) {
  .about__background {
    background-image: url(../images/about/milk-phone@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .about__background {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 11%;
    background-image: url(../images/about/milk-desktop.png);
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .about__background {
    background-image: url(../images/about/milk-desktop@2x.png);
  }
}

.about__title {
  text-align: center;
  font-family: 'Titan One';
  font-size: 34px;
  line-height: calc(39 / 34);
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 26px;
}

@media screen and (min-width: 768px) {
  .about__title {
    font-size: 48px;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .about__title {
    font-size: 58px;
    margin-bottom: 55px;
    letter-spacing: 0.06em;
  }
}

.about__label {
  text-align: center;
  font-family: 'Titan One';
  font-size: 18px;
  line-height: calc(21 / 18);
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

@media screen and (min-width: 768px) {
  .about__label {
    font-size: 26px;
  }
}

@media screen and (min-width: 1280px) {
  .about__label {
    font-size: 30px;
  }
}

.about__paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #000000;
  margin-top: 46px;
  margin-bottom: 40px;
}

@media screen and (min-width: 767px) {
  .about__paragraph {
    font-size: 14px;
    line-height: calc(25 / 14);
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .about__paragraph {
    font-size: 16px;
    line-height: calc(25 / 14);
    letter-spacing: 0.04em;
  }
}

.about__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #907e82;
}

@media screen and (min-width: 767px) {
  .about__text {
    font-size: 14px;
    line-height: calc(25 / 14);
    letter-spacing: 0.04em;
  }
}

.about__text + .about__text {
  margin-top: 15px;
}

.about__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  font-size: 14px;
  font-weight: 700;
  width: 176px;
  height: 44px;
  color: #d41443;
  background-color: #fff;
  border-radius: 22px;
  margin-top: 27px;
}

.about__button:hover, .about__button:focus {
  background-color: #ecebeb;
}

@media screen and (min-width: 768px) {
  .about__button {
    margin-top: 62px;
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .about__button {
    margin-top: 45px;
  }
}

@media screen and (min-width: 768px) {
  .about__content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.about__svg {
  margin-left: 14px;
}

@media screen and (max-width: 767px) {
  .about__image {
    max-width: 280px;
  }
}

@media screen and (min-width: 768px) {
  .about__image {
    max-width: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .about__image {
    width: 516px;
    max-width: 516px;
  }
}

.about__thumb {
  padding: 0px 30px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .about__thumb {
    max-width: 340px;
    padding: 0;
    margin-left: 17px;
  }
}

@media screen and (min-width: 1280px) {
  .about__thumb {
    margin-left: 74px;
    padding: 0;
  }
}

.advantages-section {
  background-color: #fff5f6;
}

.advantages-container {
  padding-bottom: 97px;
  padding-top: 39px;
}

@media screen and (max-width: 479px) {
  .advantages-container {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .advantages-container {
    padding-bottom: 136px;
    padding-top: 66px;
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-container {
    padding-top: 39px;
    padding-bottom: 139px;
    padding-left: 115px;
    padding-right: 115px;
  }
}

.advantages-section__paragraph {
  display: block;
  font-family: "Titan One", cursive;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 10px;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .advantages-section__paragraph {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 13px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-section__paragraph {
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages-section__text {
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .advantages-section__text {
    font-size: 14px;
    line-height: 1.7;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-section__text {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 768px) {
  .advantages-section__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-section__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.advantages-section__item {
  max-width: 230px;
  max-height: 156px;
}

@media screen and (min-width: 768px) {
  .advantages-section__item {
    max-width: 180px;
    max-height: 222px;
  }
  .advantages-section__item:not(:first-child) {
    margin-left: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-section__item {
    min-width: 330px;
    min-height: 222px;
  }
  .advantages-section__item:not(:first-child) {
    margin-left: 30px;
  }
}

.advantages-section__item--indentation {
  margin-bottom: 40px;
}

@media screen and (min-width: 768px) {
  .advantages-section__item--indentation {
    margin-bottom: 0px;
    max-width: 180px;
    max-height: 226px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-section__item--indentation {
    max-width: 330px;
    max-height: 222px;
  }
}

.advantages-section__item--indentation-second {
  margin-bottom: 36px;
}

@media screen and (min-width: 768px) {
  .advantages-section__item--indentation-second {
    margin-bottom: 0px;
  }
}

.advantages-section__item--cream::before {
  display: inline-block;
  margin-bottom: 12px;
  content: '';
  background-image: url("../images/advantages/icon1-advantages-@1x.png");
  width: 33px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .advantages-section__item--cream::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-section__item--cream::before {
    margin-bottom: 40px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-section__item--cream::before {
    background-image: url("../images/advantages/icon1-advantages-@2x.png");
  }
}

.advantages-section__item--apple::before {
  display: inline-block;
  margin-bottom: 12px;
  content: '';
  background-image: url("../images/advantages/icon2-advantages-@1x.png");
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 768px) {
  .advantages-section__item--apple::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-section__item--apple::before {
    margin-bottom: 40px;
  }
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-section__item--apple::before {
    background-image: url("../images/advantages/icon2-advantages-@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .advantages-section__item--apple::before {
    margin-top: 0px;
  }
}

.advantages-section__item--candy::before {
  display: inline-block;
  margin-bottom: 12px;
  content: '';
  background-image: url("../images/advantages/icon3-advantages-@1x.png");
  width: 44px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .advantages-section__item--candy::before {
    background-image: url("../images/advantages/icon3-advantages-@2x.png");
  }
}

@media screen and (min-width: 768px) {
  .advantages-section__item--candy::before {
    margin-bottom: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .advantages-section__item--candy::before {
    margin-bottom: 40px;
  }
}

.gallery {
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(40%, #fff5f6), color-stop(30%, #ffffff), color-stop(40%, #ffffff));
  background-image: linear-gradient(to bottom, #fff5f6 40%, #ffffff 30%, #ffffff 40%);
}

.picture {
  width: 100%;
}

.slider-text-wrapper {
  background-color: #fafafa;
  padding: 44px 50px 16px;
  margin: 0 20px;
  position: relative;
}

.slider-text-wrapper::before {
  content: '...';
  display: block;
  position: absolute;
  width: 26px;
  height: 16px;
  left: 48%;
  top: 105%;
  color: #d41443;
  font-size: 30px;
  letter-spacing: 0.1em;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .slider-text-wrapper::before {
    top: 102%;
  }
}

@media screen and (min-width: 1280px) {
  .slider-text-wrapper::before {
    left: 15.12em;
  }
}

.slider-text {
  font-family: 'DM Sans', sans-serif;
  font-weight: 500;
  font-size: 12px;
  line-height: 2.55;
  padding: 0 18px;
  background-image: repeating-linear-gradient(to top, #e1e1e1 0px 1px, transparent 1px 31px);
  text-align: center;
  position: relative;
  z-index: 3;
}

@media screen and (min-width: 480px) {
  .customer__reviews {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .customer__reviews {
    width: 740px;
  }
  .slider {
    width: 620px;
    margin: 0 auto;
  }
  .slider-text-wrapper {
    padding: 47px 60px 27px;
    margin: 0 74px;
  }
  .slider-text {
    font-size: 14px;
    line-height: 2.16;
    letter-spacing: 0.04em;
    padding: 0 24px;
  }
}

@media screen and (min-width: 1280px) {
  .customer__reviews {
    width: 1090px;
  }
  .slider {
    width: 926px;
  }
  .slider-text {
    font-size: 16px;
    line-height: 1.86;
    padding: 0 4px;
  }
  .slider-text-wrapper {
    width: 926px;
    margin: 0%;
  }
}

.div-title {
  position: relative;
}

.title {
  font-family: 'DM Sans', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 186%;
  text-align: center;
  color: #000000;
  margin-bottom: 30px;
  margin-top: 52px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 16px;
    line-height: 216%;
    letter-spacing: 0.04em;
    margin-bottom: 35px;
    margin-top: 42px;
  }
}

@media screen and (min-width: 1280px) {
  .title {
    font-size: 20px;
    margin-top: 34px;
  }
}

.swiper-slide img {
  display: block;
  width: 85px;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 80px;
  margin-bottom: 29px;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  .swiper-slide img {
    margin-top: 121px;
    margin-bottom: 19px;
  }
}

@media screen and (min-width: 1280px) {
  .swiper-slide img {
    margin-top: 123px;
    margin-bottom: 15px;
  }
}

.containar__wraper {
  position: relative;
  z-index: 2;
}

.containar__wraper::before {
  content: '';
  position: absolute;
  top: 13%;
  left: 17%;
  width: 54px;
  height: 40px;
  z-index: 2;
  background-image: url("../images/quotes.svg");
}

@media screen and (min-width: 768px) {
  .containar__wraper::before {
    top: 12%;
    left: 26%;
  }
}

@media screen and (min-width: 1280px) {
  .containar__wraper::before {
    top: 20%;
    left: 9%;
  }
}

.swiper-pagination-bullet-active {
  background-image: url("../images/Vector-house.svg");
  background-color: #ffffff;
  background-size: cover;
  border-radius: unset;
  width: 12px;
  height: 12px;
  margin-bottom: 86px;
}

.swiper-img {
  padding: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.contacts__container {
  padding-left: 50px;
  padding-right: 50px;
}

@media screen and (min-width: 768px) {
  .contacts__container {
    padding-left: 36px;
    padding-right: 36px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts__container {
    background-position: left 0 top 102px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    padding-left: 115px;
    padding-right: 115px;
    background-image: url(../images/сontacts/cont-bac.png);
    background-repeat: no-repeat;
  }
}

@media screen and (min-width: 1280px) and (min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1280px) and (min-resolution: 192dpi), screen and (min-width: 1280px) and (min-resolution: 2dppx) {
  .contacts__container {
    background-image: url(../images/сontacts/cont-bac@2x.png);
  }
}

.contacts-section {
  padding-top: 86px;
  padding-bottom: 113px;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(10%, #ffffff), color-stop(10%, #fff5f6));
  background-image: linear-gradient(to bottom, #ffffff 10%, #fff5f6 10%);
}

@media screen and (min-width: 768px) {
  .contacts-section {
    padding-top: 119px;
    padding-bottom: 165px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(20%, #ffffff), color-stop(20%, #fff5f6));
    background-image: linear-gradient(to bottom, #ffffff 20%, #fff5f6 20%);
  }
}

@media screen and (min-width: 1280px) {
  .contacts-section {
    padding-top: 132px;
    padding-bottom: 165px;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(22%, #ffffff), color-stop(22%, #fff5f6));
    background-image: linear-gradient(to bottom, #ffffff 22%, #fff5f6 22%);
  }
}

.contacts-section__name {
  width: 80px;
  height: 16px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  background-color: #f0d1a5;
  color: #ffffff;
  border-radius: 4px;
  text-transform: uppercase;
  margin-bottom: 25px;
}

@media screen and (min-width: 768px) {
  .contacts-section__name {
    font-size: 16px;
    margin-bottom: 30px;
    width: 73px;
    height: 28px;
    line-height: 1.8;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-section__name {
    font-size: 16px;
    margin-bottom: 32px;
  }
}

.contacts-section__name#backgound-green {
  background-color: #c2e297;
  width: 130px;
  height: 16px;
}

@media screen and (min-width: 768px) {
  .contacts-section__name#backgound-green {
    width: 138px;
    height: 28px;
  }
}

.contacts-section__city {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  letter-spacing: 0.04em;
  color: #000000;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .contacts-section__city {
    margin-bottom: 14px;
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-section__city {
    font-size: 16px;
    margin-bottom: 10px;
  }
}

.contacts-section__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
  margin-bottom: 50px;
}

@media screen and (min-width: 768px) {
  .contacts-section__text {
    margin-bottom: 60px;
    font-size: 14px;
    line-height: 1.64;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-section__text {
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 64px;
  }
}

.contacts-section__info {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.5;
  color: #907e82;
}

@media screen and (min-width: 768px) {
  .contacts-section__info {
    font-size: 14px;
    line-height: 1.85;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-section__info {
    font-size: 16px;
  }
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .buttons {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-top: 81px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (min-width: 1280px) {
  .buttons {
    margin-bottom: 86px;
  }
}

.button-loc {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 2.5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #ffffff;
  width: 161.45px;
  height: 44px;
  background: #d41342;
  border-radius: 22px;
  margin-bottom: 10px;
  margin-top: 54px;
}

@media screen and (min-width: 768px) {
  .button-loc {
    width: 191.45px;
    height: 44px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 14.5px;
  }
}

@media screen and (min-width: 1280px) {
  .button-loc {
    width: 198px;
    height: 44px;
    margin-right: 15px;
  }
}

.button-loc .button-loc__icon {
  margin-left: 8px;
  width: 7px;
  height: 10px;
}

@media screen and (min-width: 768px) {
  .button-loc .button-loc__icon {
    margin-left: 14px;
  }
}

.button-fran {
  width: 161px;
  height: 44px;
  background: #ffffff;
  border-radius: 22px;
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 2.5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .button-fran {
    width: 174.05px;
    height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .button-fran {
    width: 180px;
    height: 44px;
  }
}

.button-fran .button-fran__icon {
  margin-left: 14px;
  width: 7px;
  height: 10px;
}

.contacts-section__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  -webkit-box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
          box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
  border-radius: 24px;
  padding-top: 43px;
  padding-bottom: 43px;
  padding-left: 21px;
  padding-right: 21px;
}

.contacts-section__item:not(:last-child) {
  margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
  .contacts-section__item:not(:last-child) {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .contacts-section__item {
    width: calc((100vw - 112px) / 3);
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 31px;
    padding-right: 31px;
  }
  .contacts-section__item:not(:last-child) {
    margin-right: 20px;
  }
}

@media screen and (min-width: 1280px) {
  .contacts-section__item {
    width: calc((100vw -290px) / 3);
    padding-top: 51px;
    padding-bottom: 62px;
    padding-left: 43px;
    padding-right: 43px;
  }
  .contacts-section__item:not(:last-child) {
    margin-right: 30px;
  }
}

.timetable {
  margin-bottom: 50px;
  position: relative;
}

@media screen and (min-width: 768px) {
  .timetable {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1280px) {
  .timetable {
    margin-bottom: 64px;
  }
}

.timetable::before {
  top: -25px;
  position: absolute;
  content: '';
  width: 100%;
  height: 0px;
  border: 1px solid #e1e1e1;
}

.timetable::after {
  position: absolute;
  bottom: -25px;
  content: '';
  width: 100%;
  height: 0px;
  border: 1px solid #e1e1e1;
}

.timetable__days {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  color: #000000;
}

@media screen and (min-width: 768px) {
  .timetable__days {
    font-size: 14px;
    line-height: 1.85;
  }
}

@media screen and (min-width: 1280px) {
  .timetable__days {
    font-size: 16px;
  }
}

.timetable__time {
  font-family: DM Sans;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.8;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .timetable__time {
    font-size: 14px;
    line-height: 1.85;
  }
}

@media screen and (min-width: 1280px) {
  .timetable__time {
    font-size: 16px;
  }
}

.timetable__item:not(:last-child) {
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .timetable__item:not(:last-child) {
    margin-bottom: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .timetable__item:not(:last-child) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .contacts-section__cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.footer-section {
  position: relative;
  background-color: #fff5f6;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff5f6), to(#fff5f6));
  background-image: linear-gradient(#fff5f6, #fff5f6);
}

.footer-container::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 89px;
  width: 100%;
  height: 1px;
  background-color: #e1e1e1;
}

@media screen and (min-width: 768px) {
  .footer-container::before {
    bottom: 73px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-container::before {
    bottom: 45px;
  }
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

.footer-title {
  margin-bottom: 43px;
}

@media screen and (max-width: 767px) {
  .footer-title {
    max-width: 234px;
  }
}

@media screen and (min-width: 768px) {
  .footer-title {
    margin-bottom: 91px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-title {
    margin-bottom: 97px;
  }
}

.footer-text {
  display: inline-block;
  padding-bottom: 17px;
  font-family: Titan One, cursive;
  font-size: 18px;
  line-height: 1.16;
  text-transform: uppercase;
  color: #ffa5ba;
}

@media screen and (min-width: 768px) {
  .footer-text {
    padding-right: 16%;
    padding-bottom: 16px;
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1280px) {
  .footer-text {
    padding-right: 0;
    padding-bottom: 15px;
    font-size: 30px;
    line-height: 1.13;
  }
}

.footer-text-accent {
  margin-top: 17px;
  padding-right: 29%;
  font-size: 34px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  color: #d41443;
}

@media screen and (min-width: 768px) {
  .footer-text-accent {
    font-size: 48px;
    letter-spacing: 0.06em;
  }
}

@media screen and (min-width: 1280px) {
  .footer-text-accent {
    font-size: 58px;
    line-height: 1.14;
    padding-right: 0;
  }
}

.footer-contacts {
  margin-left: auto;
  max-width: 230px;
}

@media screen and (min-width: 768px) {
  .footer-contacts {
    max-width: 268px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-contacts {
    max-width: 319px;
  }
}

.footer-socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 33%;
  padding-top: 4px;
  padding-bottom: 4px;
  margin-bottom: 46px;
}

@media screen and (min-width: 768px) {
  .footer-socials {
    padding-left: 30%;
  }
}

@media screen and (max-width: 767px) {
  .footer-socials-item {
    width: 32px;
    height: 32px;
  }
  .footer-socials-item:not(:last-child) {
    margin-right: 28px;
  }
}

@media screen and (min-width: 768px) {
  .footer-socials-item {
    width: 34px;
    height: 34px;
  }
  .footer-socials-item:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-socials-item:not(:last-child) {
    margin-right: 24px;
  }
}

.footer-social-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background-color: #fea5bb;
  fill: #ffffff;
  border-radius: 50px;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover, .footer-social-link:focus {
  background-color: #d41443;
  border-radius: 50px;
}

@media screen and (min-width: 768px) {
  .footer-icon {
    width: 20px;
    height: 20px;
  }
}

@media screen and (max-width: 767px) {
  .footer-icon-mobile {
    width: 19px;
    height: 19px;
  }
}

.footer-contact {
  margin-bottom: 43px;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.9;
  text-align: right;
  color: #000000;
  white-space: nowrap;
}

@media screen and (min-width: 768px) {
  .footer-contact {
    font-size: 14px;
  }
}

@media screen and (min-width: 1280px) {
  .footer-contact {
    font-size: 16px;
  }
}

.footer-contact-link {
  color: #d41443;
}

.copy-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.footer-copyrights {
  max-width: 150px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.86;
  text-align: center;
  color: #907e82;
  padding-top: 9px;
  padding-bottom: 10px;
  padding-left: 9px;
  padding-right: 9px;
}

@media screen and (min-width: 780px) {
  .footer-copyrights {
    max-width: 294px;
    line-height: 1.52;
  }
}
/*# sourceMappingURL=main.css.map */