$main-color: #ffb8ca;
$sec-color: #fff5f6;
$icon-color: #ffa5ba;
$active-color: #d41443;
$white-color: #ffffff;
$black-color: #000000;
$text-color: #907e82;
$main-font: 'Titan One', cursive;
$second-font: 'DM Sans', sans-serif;
