<section class="advantages-section">
    <div class="container advantages-container">
        <h2 class="visually-hidden">Advantages</h2>
    <ul class="advantages-section__box">
        <li class="advantages-section__item advantages-section__item--indentation advantages-section__item--cream">
            <p class="advantages-section__text">
                <span class="advantages-section__paragraph">721
                </span>
                Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="advantages-section__item advantages-section__item--indentation-second advantages-section__item--apple">
            <p class="advantages-section__text">
               <span class="advantages-section__paragraph">16kg
               </span>
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
        <li class="advantages-section__item advantages-section__item--candy">
            <p class="advantages-section__text">
            <span class="advantages-section__paragraph">84
            </span>
            Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
            </p>
        </li>
    </ul>
    </div>
</section>