<section class="contacts-section" id="contacts">
    <div class="container contacts__container">
        <h2 class="visually-hidden">contacts</h2>
        <ul class="contacts-section__cards">
            <li class="contacts-section__item">
           
                <p class="contacts-section__name">Cafe</p>
           
            <p class="contacts-section__city">Chicago</p>
            <p class="contacts-section__text">Fusce ut velit laoreet, tempus arcu molestie vulputate</p>
            <ul class="timetable">
                <li class="timetable__item">
                <p class="timetable__days">Monday - Friday</p>
                <p class="timetable__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="timetable__item">
                    <p class="timetable__days">Saturday - Sunday</p>
                    <p class="timetable__time">08:00 AM - 16:00 PM</p>
                </li>
            </ul>

        <ul class="auth-section">
            <li class="auth-section__link">
                <a href="tel:+61(0)383766284" class="contacts-section__info">+61(0) 383 766 284 <br /></a>
        
            </li>
            <li class="auth-section__link"><a href="mailto:noreply@envato.com"
                    class="contacts-section__info">noreply@envato.com</a>
        
            </li>
        </ul>
             </li>

              <li class="contacts-section__item">
            <p class="contacts-section__name" id="backgound-green">FOODTRUCK</p>
            <p class="contacts-section__city">Los Angeles</p>
            <p class="contacts-section__text">Fusce ut velit laoreet, tempus  arcu molestie vulputate</p>
            <ul class="timetable">
                <li class="timetable__item">
                    <p class="timetable__days">Monday - Friday</p>
                    <p class="timetable__time">06:00 AM - 10:00 PM</p>
                </li>
                <li class="timetable__item">
                    <p class="timetable__days">Saturday - Sunday</p>
                    <p class="timetable__time">08:00 AM - 16:00 PM</p>
                    </li>
        
                </ul>
            <ul class="auth-section">
                <li class="auth-section__link">
                    <a href="tel:+61(0)383766284" class="contacts-section__info">+61(0) 383 766 284 <br /></a>
            
                </li>
                <li class="auth-section__link"><a href="mailto:noreply@envato.com"
                        class="contacts-section__info">noreply@envato.com</a>
            
                </li>
            </ul>
            </li>


            <li class="contacts-section__item">
        <p class="contacts-section__name">CAFE</p>
        <p class="contacts-section__city">New York</p>
        <p class="contacts-section__text">Fusce ut velit laoreet, tempus  arcu molestie vulputate</p>
  <ul class="timetable">
    <li class="timetable__item">
        <p class="timetable__days">Monday - Friday</p>
        <p class="timetable__time">06:00 AM - 10:00 PM</p>
    </li>
    <li>
        <p class="timetable__days">Saturday - Sunday</p>
        <p class="timetable__time">08:00 AM - 16:00 PM</p>
    </li>

</ul>
<ul class="auth-section">
    <li class="auth-section__link">
        <a href="tel:+61(0)383766284" class="contacts-section__info">+61(0) 383 766 284 <br /></a>

    </li>
    <li class="auth-section__link"><a href="mailto:noreply@envato.com" class="contacts-section__info">noreply@envato.com</a>

    </li>
</ul>
            </li>
        </ul>

        
        <ul class="buttons">
            <li class="buttons-item"><button type="button" class="button-loc"> Our Locations
                <svg class="button-loc__icon" width='' height=''>
                    <use href='../src/images/icons.svg#icon-arrow'>
                </svg>
            </button>
</li>
            <li class="buttons-item">
                <button type="button" class="button-fran"> Franchise
                <svg class="button-fran__icon" width='' height=''>
                    <use href='../src/images/icons.svg#icon-half-arrow'>
                </svg>
            </button></li>
                  
                
                

                

        </ul>
    </div>
</section>