<div class="swiper mySwiper">
    <div class="swiper-wrapper">
        <div class="swiper-slide customer-item">
            <img 
            srcset="../images/Customer Reviews/customer-girl-1@1x.jpg,
            /images/Customer Reviews/customer-girl-1@2x.jpg"
            src="../images/Customer Reviews/customer-girl-1@1x.jpg" 
            alt="Girl">
        </div>
        <div class="swiper-slide">222222222222</div>
        <div class="swiper-slide">333333333333333</div>
        <div>444444444444444444444444</div>
    </div>
    <div class="swiper-pagination"></div>
</div>

