<section class="customer">
    <div class="container customer__reviews">
        <div class="swiper mySwiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide customer-item">
                    <img class="swiper-img" srcset="./images/customer-reviews/customer-girl-1@1x.jpg 1x,
                        /images/customer-reviews/customer-girl-1@2x.jpg 2x"
                        src="./images/customer-reviews/customer-girl-1@1x.jpg" alt="Girl">
                    <div class="containar__wraper">
                        <div class="slider">
                            <div class="slider-text-wrapper">
                                <p class="slider-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                    Aliquam
                                    sem. In
                                    hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="div-title">
                        <h3 class="title">Emily, Los Angeles</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="swiper-img" srcset="./images/customer-reviews/customer-girl-2@1x.jpg 1x,
                        /images/customer-reviews/customer-girl-2@2x.jpg 2x"
                        src="./images/customer-reviews/customer-girl-2@1x.jpg" alt="Girl">
                    <div class="containar__wraper">
                        <div class="slider">
                            <div class="slider-text-wrapper">
                                <p class="slider-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                    Aliquam
                                    sem. In
                                    hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="div-title">
                        <h3 class="title">Leslie, New York</h3>
                    </div>
                </div>
                <div class="swiper-slide">
                    <img class="swiper-img" srcset="./images/customer-reviews/customer-girl-3@1x.jpg 1x,
                        /images/customer-reviews/customer-girl-3@2x.jpg 2x"
                        src="./images/customer-reviews/customer-girl-3@1x.jpg" alt="Girl">
                    <div class="containar__wraper">
                        <div class="slider">
                            <div class="slider-text-wrapper">
                                <p class="slider-text">Nullam viverra consectetuer. Quisque cursus et, porttitor risus.
                                    Aliquam
                                    sem. In
                                    hendrerit nulla quam nunc, accumsan congue. Lorem ipsum primis in nibh vel risus.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="div-title">
                        <h3 class="title">Julia, Texas</h3>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>