<footer class="footer-section">
    <div class="container footer-container">
        <div class="footer-content">
        
        <div class="footer-title">
            <p class="footer-text">homemade ice cream made <span  class="footer-text-accent">with passion</span></p>
        </div>
        
        <div class="footer-contacts">
            <ul class="footer-socials">
                <li class="footer-socials-item">
                    <a href="https://github.com/" target="_blank" class="footer-social-link" aria-label="github">
                        <svg class="footer-icon footer-icon-mobile">
                            <use href="./images/icons.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-socials-item">
                    <a href="https://telegram.org/" target="_blank" class="footer-social-link" aria-label="telegram">
                        <svg class="footer-icon footer-icon-mobile">
                            <use href="./images/icons.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-socials-item">
                    <a href="https://www.facebook.com/" target="_blank" class="footer-social-link" aria-label="facebook">
                        <svg class="footer-icon footer-icon-mobile">
                            <use href="./images/icons.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer-contact">Feel free to contact&nbsp;<a href="tel:+610383766284" class="footer-contact-link">+61 (0) 383 766 284</a></p>
        </div>
        </div>
        
        <div class="copy-box">
            <p class="footer-copyrights">&copy; 2022 - IceCream. All Rights Reserved</p>
        </div>

    </div>
</footer>