<section class="gallery">
  <div class="container">
    <h2 class="visually-hidden">gallery</h2>
    <picture>
      <source
        srcset="./images/gallery/gallery_mob.png 1x, ./images/gallery/gallery_mob@2x.png 2x"
        media="(max-width:767px)"
      />
      <source
        srcset="./images/gallery/gallery_tab.png 1x, ./images/gallery/gallery_tab@2x.png 2x"
        media="(max-width: 1279px)"
      />
      <source
        srcset="./images/gallery/gallery_desk.png 1x, ./images/gallery/gallery_desk@2x.png 2x"
        media="(min-width: 1280px)"
      />
      <img class="picture" src="./images/gallery/gallery_mob.png" alt="IceCream" />
    </picture>
  </div>
</section>
