<section class="hero" id="home">
<div class="container container__hero">

    


    <div class="hero__main">
    
            <h1 class="hero__title">ice cream <br> made with <br> <span class="hero__title--big">passion</span> </h1>
            <ul class="hero__list">
                <li class="hero__items">
                    <p class="items__rank">
                         <span class="items__rate">16</span>
                     cafes
                    </p>
                </li>
                <li class="hero__items">
                    
                    <p class="items__rank">
                        <span class="items__rate">23</span>
                        food trucks
                    </p>
                </li>
            </ul>
       
        
        
        
    </div>
    <ul class=" main__list">
        <li class="main__items">
            <a href="#products" class="hero__link hero__link--products">Products</a>
        </li>
        <li class="main__items">
            <a href="#about" class="hero__link hero__link--howMade">How it’s made?</a>
        </li>
    </ul>

    <p class="hero__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
    <a href="#" class="hero__link--arow">
        <svg class="hero__icon" width="8" height="8">
            <use href="../src/images/icons.svg#icon-arrow-right"></use>
        </svg>
    </a>

    <div class="hero__circle"></div>

    <picture class="hero__picture--icecream">
        <source srcset="./images/header/mobileicecream.png 1x, ./images/header/mobileicecream@2x.png 2x"
            media="(max-width:767px)" />
        <source srcset="./images/header/tableticecream.png 1x, ./images/header/tableticecream@2x.png 2x"
            media="(max-width: 1279px)" />
        <source srcset="./images/header/desctopicecream.png 1x, ./images/header/desctopicecream@2x.png 2x"
            media="(min-width: 1280px)" />
        <img  src="./images/header/mobileicecream.png" alt="IceCream" />
    </picture>

    <picture class="hero__picture--milk">
        <source srcset="./images/header/tabletmilk.png 1x, ./images/header/tabletmilk@2x.png 2x"
            media="(max-width: 1279px)" />
        <source srcset="./images/header/desctopmilk.png 1x, ./images/header/desctopmilk@2x.png 2x"
            media="(min-width: 1280px)" />
        <img src="./images/header/tabletmilk.png" alt="milk" />
    </picture>

    <picture class="hero__picture--girl">
        <source srcset="./images/header/tabletgirl.png 1x, ./images/header/tabletgirl@2x.png 2x"
            media="(max-width: 1279px)" />
        <source srcset="./images/header/desctopgirl.png 1x, ./images/header/desctopgirl@2x.png 2x"
            media="(min-width: 1280px)" />
        <img src="./images/header/tabletgirl.png" alt="girl" />
    </picture>

</div>
</section>