<section class="products-section" id="products">
    <div class="container">
        <p class="products-section__text">100% natural</p>
        <h2 class="products-section__title">products</h2>
        <ul class="products-section__list">
            <li class="products-section__item cream">
                <h3 class="products-item__name">ice cream</h3>
                <p class="product-item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. <span class="description__hidden">dolore magna aliqua facilisis.</span></p>
                <div class="drop-box__position">
                    <a href="#products" class="products__link">
                        <div class="drop-box ice__box">
                             <p class="drop-box__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et</p>  
                        </div>
                        <svg class="products__icon" width="40" height="40">
                            <use href="../src/images/icons.svg#icon-arrow-right"></use>
                        </svg>
                    </a>
                </div>  
            </li>
            <li class="products-section__item coffee">
                <h3 class="products-item__name">ice coffee</h3>
                <p class="product-item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. <span class="description__hidden">dolore magna aliqua facilisis.</span></p>
                <div class="drop-box__position">
                    <a href="#products" class="products__link">
                        <div class="drop-box coffee__box">
                            <p class="drop-box__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et</p>
                        </div>
                        <svg class="products__icon" width="40" height="40">
                            <use href="../src/images/icons.svg#icon-arrow-right"></use>
                        </svg>
                    </a>
                </div>
            </li>
            <li class="products-section__item milk">
                <h3 class="products-item__name">milkshakes</h3>
                <p class="product-item__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et. <span class="description__hidden">dolore magna aliqua facilisis.</span></p>
                <div class="drop-box__position">
                    <a href="#products" class="products__link">
                        <div class="drop-box milk__box">
                            <p class="drop-box__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                                tempor incididunt ut labore et</p>
                        </div>
                        <svg class="products__icon" width="40" height="40">
                            <use href="../src/images/icons.svg#icon-arrow-right"></use>
                        </svg>
                    </a>
                </div>  
            </li>
        </ul>
    </div>
    
</section>