.about {
  background-color: #fff5f6;

  @media screen and (min-width: 320px) and (max-width: 767px) {
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right 0 bottom 60px;
    background-image: url(../images/about/milk-phone.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/about/milk-phone@2x.png);
    }
  }

  @media screen and (min-width: 1280px) {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left 11%;
    background-image: url(../images/about/milk-desktop.png);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url(../images/about/milk-desktop@2x.png);
    }
  }
}

.about__container {
  padding-top: 125px;
  padding-bottom: 39px;
  padding-left: 50px;
  padding-right: 50px;
}

.about__title {
  text-align: center;
  font-family: 'Titan One';
  font-size: 34px;
  line-height: calc(39 / 34);
  text-transform: uppercase;
  color: #d41443;
  margin-bottom: 26px;
}

.about__label {
  text-align: center;
  font-family: 'Titan One';
  font-size: 18px;
  line-height: calc(21 / 18);
  text-transform: uppercase;
  color: #ffa5ba;
  margin-bottom: 15px;
}

.about__paragraph {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #000000;
  margin-top: 46px;
  margin-bottom: 40px;
}

.about__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.6;
  color: #907e82;
}

.about__text + .about__text {
  margin-top: 15px;
}

.about__button {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  font-size: 16px;
  font-weight: 700;
  width: 176px;
  height: 44px;
  color: #d41443;
  background-color: #fff;
  border-radius: 22px;
  margin-top: 27px;

  &:hover,
  &:focus {
    background-color: #ecebeb;
  }
}

.about__svg {
  margin-left: 14px;
}
