.advantages-section {
  background-color: $sec-color;

  padding-bottom: 97px;
  padding-top: 39px;

  @media screen and (min-width: 768px) {
    padding-bottom: 136px;
    padding-top: 66px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 39px;
    padding-bottom: 139px;
  }
}

.advantages-container {
  @media screen and (max-width: 479px) {
    width: 100%;
  }

  @media screen and (min-width: 768px) {
    padding-left: 36px;
    padding-right: 36px;
  }
  @media screen and (min-width: 1280px) {
    padding-left: 115px;
    padding-right: 115px;
  }
}

.advantages-section__paragraph {
  display: block;

  font-family: $main-font;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  margin-bottom: 10px;

  color: $active-color;

  @media screen and (min-width: 768px) {
    font-size: 48px;
    line-height: 1.15;
    margin-bottom: 13px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 58px;
    line-height: 1.14;
  }
}

.advantages-section__text {
  font-family: $second-font;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;
  letter-spacing: 0.04em;

  color: $black-color;

  @media screen and (min-width: 768px) {
    font-size: 14px;
    line-height: 1.7;
  }

  @media screen and (min-width: 1280px) {
    font-size: 16px;
    line-height: 1.76;
    letter-spacing: 0.02em;
  }
}

.advantages-section__box {
  @media screen and (min-width: 768px) {
    display: flex;
    // justify-content: row;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    // justify-content: center;
  }
}

.advantages-section__item {
  max-width: 230px;
  max-height: 156px;
  @media screen and (min-width: 768px) {
    max-width: 180px;
    max-height: 222px;
    &:not(:first-child) {
      margin-left: 60px;
    }
  }
  @media screen and (min-width: 1280px) {
    min-width: 330px;
    min-height: 222px;
    &:not(:first-child) {
      margin-left: 30px;
    }
  }
}

.advantages-section__item--indentation {
  margin-bottom: 40px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
    max-width: 180px;
    max-height: 226px;
  }
  @media screen and (min-width: 1280px) {
    max-width: 330px;
    max-height: 222px;
  }
}

.advantages-section__item--indentation-second {
  margin-bottom: 36px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0px;
  }
}

.advantages-section__item--cream::before {
  display: inline-block;
  margin-bottom: 12px;
  content: '';
  background-image: url('../images/advantages/icon1-advantages-@1x.png');
  width: 33px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/advantages/icon1-advantages-@2x.png');
  }
}

.advantages-section__item--apple::before {
  display: inline-block;

  margin-bottom: 12px;
  content: '';
  background-image: url('../images/advantages/icon2-advantages-@1x.png');
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/advantages/icon2-advantages-@2x.png');
  }

  @media screen and (min-width: 768px) {
    margin-top: 0px;
  }
}

.advantages-section__item--candy::before {
  display: inline-block;

  margin-bottom: 12px;
  content: '';
  background-image: url('../images/advantages/icon3-advantages-@1x.png');
  width: 44px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/advantages/icon3-advantages-@2x.png');
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 36px;
  }

  @media screen and (min-width: 1280px) {
    margin-bottom: 40px;
  }
}
