.advantages-section {
  background-color: var(--sec-color);
  padding-bottom: 145px;
  padding-top: 39px;
}

.advantages-section__paragraph {
  display: block;

  font-family: Titan One, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--active-color);
  min-width: 98px;
  min-height: 56px;
}

.advantages-section__text {
  font-family: DM Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 1.7;

  color: var(--black-color);
  min-width: 230px;
  min-height: 36px;
}

.advantages-section__item--cream::before {
  display: inline-block;
  margin-bottom: 16px;
  content: '';
  background-image: url('../images/advantages/icon1-advantages-@1x.png');
  width: 33px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/advantages/icon1-advantages-@2x.png');
  }
}

.advantages-section__item--apple::before {
  display: inline-block;
  margin-bottom: 16px;
  content: '';
  background-image: url('../images/advantages/icon2-advantages-@1x.png');
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/advantages/icon2-advantages-@2x.png');
  }
}

.advantages-section__item--candy::before {
  display: inline-block;

  margin-bottom: 16px;
  content: '';
  background-image: url('../images/advantages/icon3-advantages-@1x.png');
  width: 44px;
  height: 50px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    background-image: url('../images/advantages/icon3-advantages-@2x.png');
  }
}
