.products-section {
  margin-top: 0;
  background-color: $white-color;
  @media screen and (max-width: 767px) {
    padding-top: 121px;
    padding-bottom: 98px;
  }
  @media screen and (min-width: 768px) {
    padding-top: 122px;
    padding-bottom: 112px;
  }
  @media screen and (min-width: 1280px) {
    padding-top: 127px;
    padding-bottom: 119px;
  }
}

.products-section__title {
  margin-top: 0;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 400;
  color: $active-color;
  @media screen and (max-width: 767px) {
    margin-bottom: 143px;
    font-size: 34px;
    line-height: 1.14;
  }
  @media screen and (min-width: 768px) {
    margin-bottom: 39px;
    font-size: 48px;
    line-height: 1.14;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 49px;
    font-size: 58px;
    line-height: 1.37;
    letter-spacing: 0.06em;
  }
}
.products-section__text {
  margin-top: 0;
  margin-bottom: 15px;
  display: block;
  text-align: center;
  text-transform: uppercase;
  color: $icon-color;
  font-family: $main-font;
  @media screen and (max-width: 767px) {
    font-size: 18px;
    line-height: 1.17;
  }
  @media screen and (min-width: 768px) {
    font-size: 26px;
    line-height: 1.15;
  }
  @media screen and (min-width: 1280px) {
    font-size: 30px;
    line-height: 1.13;
    letter-spacing: 0.04em;
  }
}
.products-section__list {
  @media screen and (max-width: 767px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 148px;
  }
  @media screen and (min-width: 1280px) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 261px;
  }
}
.products-section__item {
  position: relative;
  border-radius: 24px;

  &.cream {
    background-color: $main-color;
  }
  &.coffee {
    background-color: #f0d1a5;
  }
  &.milk {
    background-color: #c2e297;
  }
  @media screen and (max-width: 767px) {
    width: 280px;
    padding-top: 162px;
    padding-bottom: 40px;
    &:not(:first-child) {
      margin-top: 130px;
    }
  }
  @media screen and (min-width: 768px) {
    max-width: 220px;
    padding-bottom: 40px;
    padding-top: 146px;
    &:not(:first-child) {
      margin-left: 20px;
    }
  }
  @media screen and (min-width: 1280px) {
    max-width: 335px;
    &:not(:first-child) {
      margin-left: 27px;
    }
    padding-top: 150px;
    padding-bottom: 50px;
  }
}
.cream::before {
  @media screen and (max-width: 767px) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(6%, -45%);
    background-image: url('../images/products/icecream-mobile1@1x.png');
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/icecream-mobile1@2x.png');
    }
  }
  @media screen and (min-width: 768px) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(1%, -47%);
    background-image: url('../images/products/icecream-tablet1@1x.png');
    width: 220px;
    height: 226px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/icecream-tablet1@2x.png');
    }
  }
  @media screen and (min-width: 1280px) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -65%);
    background-image: url('../images/products/icecream-desktop1@1x.png');
    width: 335px;
    height: 335px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/icecream-desktop1@2x.png');
    }
  }
}
.coffee::before {
  @media screen and (max-width: 767px) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(6%, -45%);
    background-image: url('../images/products/icecream-mobile2@1x.png');
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/icecream-mobile2@2x.png');
    }
  }
  @media screen and (min-width: 768px) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(1%, -47%);
    background-image: url('../images/products/icecream-tablet2@1x.png');
    width: 220px;
    height: 233px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/icecream-tablet2@2x.png');
    }
  }
  @media screen and (min-width: 1280px) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -65%);
    background-image: url('../images/products/icecream-desktop2@1x.png');
    width: 335px;
    height: 337px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/icecream-desktop2@2x.png');
    }
  }
}
.milk::before {
  @media screen and (max-width: 767px) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(6%, -45%);
    background-image: url('../images/products/icecream-mobile3@1x.png');
    width: 250px;
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/icecream-mobile3@2x.png');
    }
  }
  @media screen and (min-width: 768px) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(1%, -47%);
    background-image: url('../images/products/icecream-tablet3@1x.png');
    width: 220px;
    height: 224px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/icecream-tablet3@2x.png');
    }
  }
  @media screen and (min-width: 1280px) {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(0, -65%);
    background-image: url('../images/products/icecream-desktop3@1x.png');
    width: 335px;
    height: 335px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: url('../images/products/icecream-desktop3@2x.png');
    }
  }
}
.products-item__name {
  display: block;
  position: relative;
  margin-bottom: 66px;
  font-family: $main-font;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: $white-color;
  @media screen and (min-width: 1280px) {
    margin-bottom: 70px;
    font-size: 30px;
    line-height: 1.13;
  }
}
.products-item__name::after {
  content: '...';
  display: block;
  position: absolute;
  width: 26px;
  height: 6px;
  top: 170%;
  left: 45%;
  @media screen and (min-width: 1280px) {
    top: 140%;
    left: 45%;
  }
}
.product-item__description {
  display: block;
  margin-top: 0;
  margin-bottom: 30px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: $second-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  color: $white-color;
  @media screen and (min-width: 768px) {
    line-height: 1.78;
    padding-left: 11px;
    padding-right: 11px;
  }
  @media screen and (min-width: 1280px) {
    margin-bottom: 62px;
    font-size: 16px;
    line-height: 1.75;
    padding-left: 44px;
    padding-right: 44px;
  }
}
.description__hidden {
  @media screen and (min-width: 768px) {
    display: none;
  }
}
.products__link {
  position: relative;
  display: flex;
  justify-content: center;
  width: 40px;
  height: 40px;
  margin: auto;
  border-radius: 50%;
  background-color: $white-color;
  color: $active-color;
  &:hover,
  &:focus {
    background-color: $active-color;
    color: $white-color;
  }
}
.products__icon {
  padding: 15px;
  border-radius: 50%;
  fill: currentColor;
  transform: rotateZ (0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  &:hover {
    transform: rotateZ(90deg);
  }
  &:focus {
    transform: rotateZ(90deg);
  }
}

.drop-box__position {
  z-index: 1;
  position: relative;
}

.drop-box {
  z-index: 2;
  width: 185px;
  height: 145px;
  position: absolute;
  top: 0%;
  left: 0%;
  transform: translate(-40%, -120%);
  pointer-events: none;
  @media screen and (max-width: 767px) {
    width: 220px;
  }
  @media screen and (min-width: 1280px) {
    width: 260px;
  }
  &.ice__box::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 75%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f0d1a5;
    pointer-events: none;
    opacity: 0;
    transform: translateY(0);
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.coffee__box::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 75%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #c2e297;
    pointer-events: none;
    opacity: 0;
    transform: translateY(0);
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &.milk__box::after {
    content: '';
    position: absolute;
    z-index: 2;
    top: 75%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $main-color;
    pointer-events: none;
    opacity: 0;
    transform: translateY(0);
    border-radius: 24px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.drop-box__description {
  z-index: 3;
  display: block;
  position: absolute;
  pointer-events: none;
  padding: 15px;
  width: 100%;
  height: 100%;
  top: 75%;
  left: 0;
  font-family: $second-font;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.04em;
  opacity: 0;
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.products__link:hover .drop-box::after {
  transform: translateY(100%);
  opacity: 1;
}
.products__link:hover .drop-box__description {
  opacity: 1;
  transform: translateY(100%);
}
